/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    
    color: white;
  }
  
  ul {
    list-style: none;
    padding-top: 10%;
    
  }

  li{
    margin: 0 30px;
  }
  .button {
    background-color: #0B0F42;
    border: none;
  
    padding: 30% 40%;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     
  }
   
  /* Header Styles */
  header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
  }

  .container1 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5%;
    box-shadow: #ccc;
  }
  
  .column1, .column2 {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    
  }
  h2{
    font-family: poppins;
    color: #0B0F42;
    font-weight:bolder;
    text-align: center;
    font-size: 50px;
  }
  h3{
    font-family: poppins;
    color: #0B0F42;
    font-weight:500;
    font-size: 23px;
  }
  h4{
    font-family: poppins;
    color: #0B0F42;
    font-weight:300;
    font-size: 15px;
  }
  .column1 {
    background-color: white;
  }
  
  .column2 {
    background-color: white;
  }
  
  #background-video {
    width: 99.1vw;
    height: auto;
    object-fit:contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    
     

  }

  .gallery-item:nth-child(1) img {
    height: auto;
       padding-top: 50%;
        
     
   }
   
   .gallery-item:nth-child(3) img {
    height: auto;
         padding-top: 50%;
       
     
   }
   
   .gallery-item:nth-child(4) img {
     height: auto;
       padding-top: 50%;
        
     
   }
   
   .gallery-item:nth-child(2) img {
    height: auto;
          
         scale: 1.2;
         padding-top: 39%;
        
   }
   
   
       .gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items:flex-end;
   }
   
   .gallery-item {
     position: relative;
     flex: 0 0 25%;
     height: 500px;
     overflow: hidden;
   }
   
   .gallery-item img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform 0.2s;
   }
   
    
   .overlay-1 i {
       padding-top: 56%;
     position: absolute;
     font-size: 1.5vw;
     color: white;
     padding-right: 30%;
   }
   
   .overlay-2 i {
          padding-top: 56%;
     position: absolute;
   font-size: 1.5vw;
     color: white;
     padding-right: 35%;
   }
   
   .overlay-3 i {
          padding-top: 56%;
     position: absolute;
    font-size: 1.5vw;
     color: white;
     padding-right: 42%;
   }
   
   .overlay-4 i {
       padding-top: 56%;
     position: absolute;
     font-size: 1.5vw;
     color: white;
     padding-right: 42%;
   }
   
   
   .overlay {
     position: absolute;
     top: -24%;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   
   .gallery-item:hover .overlay {
     opacity: 1;
   }
   
   .overlay h2 {
       padding-top: 56%;
     color: white;
     font-size: 1.5vw;
     margin: 0;
     font-family: 'Poppins';
   }
  .text-container1 {
    position: relative;
    }
    
    .line1 {
    position: fixed;
    bottom: 1;
    left: 50px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-out;
    }
    
    h2:hover + .line1 {
    width: 50%;
    transform: translateX(50px);
    }
    
    .img-container1 img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    
    .img-container1 .alt-text1 {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(64, 64, 64, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 12px;
    color: white;
    }
    
    .img-container1 .alt-text1 p {
    margin: 0;
    }
    
    .text-container1 {
    position: relative;
    display: inline-block;
    padding-left: 0;
    }
    
    .text-container1 h2 {
    text-align: center;
    font-size: 12px;
    color: white;
    }
  .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column3 {
    width: 30%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  video {
    filter: brightness(75%) contrast(125%);
    position: relative;
  }
  
  video::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D0F3C;
    mix-blend-mode: overlay;
    opacity: 0.7;
    overflow: hidden;
  }
  .container4 {
    display: flex;
    flex-wrap: wrap;
  }
  .container5 {
    display: flex;
    flex-wrap: wrap;
  }
  .column7, .column8 ,.column9 ,.column10 {
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
    border-color: #fff;
    border-style: double;
    border-radius: 1px;
  }
  .column5, .column6 {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
 .legaltxt{
  color:#FFFFFF; font-weight: 700; text-align: left;
 }
.policytxt{
  color: #FFFFFF; text-align: left; font-weight: 500;  font-size: 13px; padding-bottom: 10px;
}
.termstxt{
  font-weight: 500;  font-size: 13px; color: #FFFFFF; text-align: left;   padding-bottom: 10px;
}

.cookietxt{
  font-weight: 500;  font-size: 13px; color: #FFFFFF; text-align: left;   padding-bottom: 10px;
}

.txt13{
  font-size: 10px; color: #FFFFFF; text-align: left; padding-left: 10px;display: inline-block;
}
.newslettertxt{
  color:#FFFFFF; font-weight: 700; text-align: left;
}
.stayuptxt{
  font-weight: 500;  font-size: 13px; color: #FFFFFF; text-align: left;    padding-bottom: 10px;
}

.classinfotxt{
  font-size: 10px; color: #FFFFFF; text-align: left;  padding-left:3%;display: inline-block;
}

.phonenumbertxt{
  font-size: 10px; color: #FFFFFF; text-align: left; padding-left: 10px;display: inline-block;
}

.contactinfotxt{
  color:#FFFFFF; font-weight: 700; text-align: left;
}
  /* Main Styles */
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  section p {
    margin-bottom: 1rem;
  }
  
  section ul li {
    margin-bottom: 0.5rem;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  footer {
    background-color:#0B0F42;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
 
  label{
    color: #0B0F42;
    font-family: poppins;
    font-weight: 500;
  }

   